body{
	font-family: 'Raleway', sans-serif;
}

.h2{
	font-family: 'Raleway', sans-serif;
}

.panel-body{
background-color: rgba(255, 255, 255, 0);
}

.panel-header{
	background-color: #c6c6c6;
}

th, tr{
	font-family: 'Raleway', sans-serif;
}

tr{
transition: all 0.5s;
}

th:hover{
background-color: #c6c6c6;
transition: 0.5s;
}

tr:hover{
background-color: #c6c6c6;
transition: 0.5s;
}

.btn-warning{
transition: all 0.8s;
}

.btn-warning:hover, .btn-warning:focus{
transition: 0.8s;
background-color: #c6c6c6;
border-color: #c6c6c6;
}
